/* ブルブル */
#nothing{
  animation: buruburu-animation .1s infinite;
}

/* ブルブルするやつ */
@keyframes buruburu-animation {
  0% {transform: translate(0px, 0px)}
  25% {transform: translate(3px, 3px)}
  50% {transform: translate(0px, 3px)}
  75% {transform: translate(3px, 0px)}
  100% {transform: translate(0px, 0px)}
}


/* プロセカプロフィールのボタンの色 */
.プロセカプロフィール{
  display: inline-block;
  background: #8cc7dd;
  color: rgb(81, 81, 81);
  text-decoration: none;
  width: 200px;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
  text-align: center;
  transition:500ms ;
  font-size: 0.95rem;
  /* ここからborder-radiusプロパティを追加 */
}

/* プロセカプロフィールのボタンの変色 */
.プロセカプロフィール:hover{
  background-color:#9ed5e4;
  transition:500ms ;
  font-size: 1rem;
  transform: scale(1.05);
}

#twitter a{
  color: #445f30;
}

#twitter{
  display: inline-block;
  background: #20bdd8;
  color: rgb(81, 81, 81);
  text-decoration: none;
  width: 200px;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
  text-align: center;
  transition:500ms ;
  /* ここからborder-radiusプロパティを追加 */
}

/* プロセカプロフィールのボタンの変色 */
#twitter:hover{
  background-color:#86afdf;
  transition:500ms ;
  font-size: 1.1rem;
  transform: scale(1.1);
}

#youtube a{
  color: #4f252f;
}

#youtube{
  display: inline-block;
  background: #ee7765;
  color: rgb(81, 81, 81);
  text-decoration: none;
  width: 200px;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
  text-align: center;
  transition:500ms ;
  /* ここからborder-radiusプロパティを追加 */
}

/* プロセカプロフィールのボタンの変色 */
#youtube:hover{
  background-color:#ddaa8a;
  transition:500ms ;
  font-size: 1.1rem;
  transform: scale(1.1);
}

#Tichtml{
  display: inline-block;
  background: #adcf75;
  color: rgb(216, 52, 197);
  text-decoration: none; 
  width: 100px;
  height: 100px;
  line-height: 50px;
  border-radius: 10px;
  text-align: center;
  transition:500ms ;
  position: absolute;
  
  /* ここからborder-radiusプロパティを追加 */
}

/* プロセカプロフィールのボタンの変色 */
#Tichtml:hover{
  background-color:#86afdf;
  transition:500ms ;
  font-size: 1.1rem;
  transform: scale(1.1);
}

#ticP{
  position: relative;
  height: 100px;
}